.footer {
  min-height: 6em;
  padding-bottom: 1em;
  position: relative;
}

.footer > .iconion {
  height: 8em;
}

.copyright-creds {
  position: absolute;
  bottom: 0.8em;
}

.creds-ref {
  color: #EC1A3D;
}

.footer h3 {
  margin-bottom: 0.5em;
}

.footer-cnt > .ico-cont {
  position: relative;
  width: 2.5em;
  height: 2.5em;
}

.footer-cnt > .ico-cont * {
  font-size: 1.2em;
}

.footer-cnt > .ico-cont > a {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

@media (max-width: 800px) {
  .footer {
    padding-top: 1em;
    min-height: 7em;
    justify-content: flex-start;
  }

  .copyright-creds {
    display: block;
    width: 90%;
    margin-left: 5%;
    text-align: center;
  }
}
