.landing-header {
  font-size: 5em;
  z-index: 3;
}

.landing-desc {
  z-index: 3;
}

.phn {
  font-size: 1.5em;
  z-index: 3;
}

@media (max-width: 800px) {
  .landing-header {
    font-size: 2em;
  }

  .phn {
    font-size: 1em;
  }
}
