.srvcs-card {
  height: 17em;
  width: 17em;
  padding: 2em;
  margin-left: 2em;
  margin-right: 2em;
}

.qs-inp-h input {
  width: 25em;
  margin-left: 0 !important;
  margin-right: 0 !important;
  margin-top: 0.7em;
  margin-bottom: 0.7em;
}

.qs-header-start {
  position: relative;
}

#qs-header-start {
  position: absolute;
  top: -9em;
}

#qs-header {
  padding-left: 0.5em;
  padding-right: 0.5em;
  text-align: center;
}

.srvcs-card img {
  height: 3em;
  width: 3em;
  object-fit: contain;
  border: 0.15em solid var(--Secondary);
  border-radius: 50%;
  padding: 0.8em;
  margin-bottom: 0.8em;
}
