.socials-side {
  height: 2em;
  position: relative;
  width: 100%;
  z-index: 10000;
  transition: transform 0.4s;
  overflow: hidden;
  margin-bottom: 0.2em;
}

.socials-side:hover {
  transform: scale(1.05);
  height: auto;
}

.socials-side:hover > .opener, .socials-side:hover > .content  {
  background-color: var(--PrimaryTint);
}

.socials-side > .content {
  min-width: 2em;
  position: relative;
  background-color: var(--Secondary);
  border-radius: 0.2em;
}

.socials-side > .content > .ico-cont {
  position: relative;
  width: 2em;
  height: 2em;
}

.socials-side > .content > .ico-cont > a {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

@media (max-width: 800px) {
  .socials-side > .content > div:not(.ico-cont) {
    display: none;
  }
}
