#map {
  outline: none;
  height: 55em;
  width: 100%;
}

#map * {
  outline: none;
}

.map-marker {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: white;
  border-radius: 50%;
}
